/* Simple css to follow the geometry of franklin-content (see franklin.css) */
a {
    color: #8be9fd;
    text-decoration: none;
    margin: 0.25em;
}
a:hover {
    color: #f1fa8c;
    border-radius: 0.2em;
}

pre {
    border-style: solid;
    border-color: #44475a;
    border-radius: 0.25em;
}

header {
    background-color: #44475a;
    margin-top: 75px;
    position: relative;
    margin-bottom: 50px;
    font-family: Hack, Consolas, monospace;
    border-radius: 0.25em;
    padding: 0.1em;
}
header hr {
    border: 0;
}
header nav a {
    padding: 0.1em;
    margin: 0.1em;
    color: #44475a;
    background-color: #f1fa8c;
    border-radius: 0.2em;
}
header nav a:hover {
    background-color: #ffb86c;
    color: #282a36;
}

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
  header {
    width: 705px;
    margin-left: auto;
    margin-right: auto; }
  }

/* on narrow device, reduce margins */
@media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%; }
}
